@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
  --color1: #001524;
  --color2: #445D48;
  --color3: #D6CC99;
  --color4: #FDE5D4;
  --color1-tint: #001524;
  --color2-tint: #364a3a;
  --color3-tint: #d6cc99;
  --gradient1: linear-gradient(45deg,rgb(0, 21, 36) 0%,rgb(68, 93, 72) 100%);

}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;  
}

h1{
  color: #2c2f33;
  font-family: "Dela Gothic One",sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h3{
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 24px;
}

p{
  color: #2c2f33;
  line-height: 1;
  font-family: "Poppins",sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}